In [10]:
import pandas as pd
import math

In [32]:
import numpy as np

In [14]:
titanic=pd.read_csv(r"G:\CodingNinzas\ML_AT_CN\TitanicDatasetAnalysis\titanic_train(1).csv")
df=titanic.copy()
print(df.columns)
print(df.shape)
df.head(6)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
(891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q

In [ ]:
# del df["Name"]
# # print(df.shape)
# # print(df.head())

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB
None

In [35]:
print(df.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [15]:
#################   here we convert string sex values into int gender values
def fun(s):
    if s=="male":
        return 1
    else:
        return 0
df["gender"]=df.Sex.apply(fun)

In [ ]:
df.info()

In [16]:
del df['Sex']
del df['Name']

In [17]:
df.info()
df["Embarked"].describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
gender         891 non-null int64
dtypes: float64(2), int64(6), object(3)
memory usage: 76.6+ KB

count     889
unique      3
top         S
freq      644
Name: Embarked, dtype: object

In [18]:
def fun(s):
    if s=="S":
        return 0
    elif s=="C":
        return 1
    else:
        return 2
df["Embarked_new"]=df.Embarked.apply(fun)

In [19]:
del df["Embarked"]
del df["Ticket"]

In [30]:
#df["Age"]
mean_survive=df[df.Survived==1].Age.mean()
mean_notsurvive=df[df.Survived==0].Age.mean()
print(mean_notsurvive)
print(mean_survive)
x=df.loc[5,"Age"]
math.isnan(x)

30.62617924528302
28.343689655172415

True

In [37]:
# #df2=df[df.Survived==1].copy()
mean_survive=df[df.Survived==1].Age.mean()
mean_notsurvive=df[df.Survived==0].Age.mean()

def f(s):
    if math.isnan(s)==True:
        if df.loc[df['Age'] == s, 'Survived']==1:
            return mean_survive
        else:
            return mean_notsurvive
    else:
        return s
    

df["Age_new"]=df.Age.apply(fun)
df["Age_new"]

0      2
1      2
2      2
3      2
4      2
5      2
6      2
7      2
8      2
9      2
10     2
11     2
12     2
13     2
14     2
15     2
16     2
17     2
18     2
19     2
20     2
21     2
22     2
23     2
24     2
25     2
26     2
27     2
28     2
29     2
      ..
861    2
862    2
863    2
864    2
865    2
866    2
867    2
868    2
869    2
870    2
871    2
872    2
873    2
874    2
875    2
876    2
877    2
878    2
879    2
880    2
881    2
882    2
883    2
884    2
885    2
886    2
887    2
888    2
889    2
890    2
Name: Age_new, Length: 891, dtype: int64

In [ ]:
#df.Age.fillna(df.Age.mean(), inplace = True )

In [ ]:
df["Fare"]=np.ceil(df['Fare'])
df.info()

In [ ]:
df.head()
def fun(x):
    return int(x)

def fun2(x):
    return int(x)

df["Age_new"]=df.Age.apply(fun)

df["Fare_new"]=df.Fare.apply(fun2)

In [ ]:
del df["Age"]
del df["PassengerId"]

In [ ]:
del df["Fare"]

In [ ]:
del df["Cabin"]

In [ ]:
print(df.head())
print(df.describe())

In [ ]:
df.columns=[ 'Survived', 'Pclass', 'SibSp', 'Parch', 'Gender',
       'Embarked', 'Age', 'Fare']

In [ ]:
print(df.describe())

df.head()

df.sample(3)