In [1]:

import numpy as np
import pandas as pd

In [2]:
titanic_train= pd.read_csv(r"G:\CodingNinzas\ML_AT_CN\LogisticRegression\TitanicDatasetLogistic\training_titanic.csv")
titanic_test= pd.read_csv(r"G:\CodingNinzas\ML_AT_CN\LogisticRegression\TitanicDatasetLogistic\test_titanic.csv")

In [3]:
print(titanic_train.head(5))
titanic_train.shape

   Pclass                                            Name     Sex   Age  \
0       2   Weisz, Mrs. Leopold (Mathilde Francoise Pede)  female  29.0
1       3               Williams, Mr. Howard Hugh "Harry"    male   NaN
2       2  Morley, Mr. Henry Samuel ("Mr Henry Marshall")    male  39.0
3       3     Palsson, Mrs. Nils (Alma Cornelia Berglund)  female  29.0
4       3                          Sutehall, Mr. Henry Jr    male  25.0

   SibSp  Parch           Ticket    Fare Cabin Embarked  Survived
0      1      0           228414  26.000   NaN        S         1
1      0      0         A/5 2466   8.050   NaN        S         0
2      0      0           250655  26.000   NaN        S         0
3      0      4           349909  21.075   NaN        S         0
4      0      0  SOTON/OQ 392076   7.050   NaN        S         0

(668, 11)

In [35]:
#  survivedS = titanic_train[titanic_train.Embarked == 'Q'][titanic_train.Survived == 1].shape[0]
#  survivedS

In [36]:
del titanic_train["Name"]
del titanic_train["Ticket"]
del titanic_train["Fare"]
del titanic_train["Cabin"]

In [37]:
del titanic_test["Name"]
del titanic_test["Ticket"]
del titanic_test["Fare"]
del titanic_test["Cabin"]

In [38]:
print(titanic_train.head(5))
titanic_test.isnull().sum()

   Pclass     Sex   Age  SibSp  Parch Embarked  Survived
0       2  female  29.0      1      0        S         1
1       3    male   NaN      0      0        S         0
2       2    male  39.0      0      0        S         0
3       3  female  29.0      0      4        S         0
4       3    male  25.0      0      0        S         0

Pclass       0
Sex          0
Age         45
SibSp        0
Parch        0
Embarked     1
dtype: int64

In [39]:
def fun1(s):
    if s=="female":
        return 0
    else:
        return 1
    
titanic_train["new_sex"]=titanic_train.Sex.apply(fun1)

titanic_test["new_sex"]=titanic_test.Sex.apply(fun1)

del titanic_test["Sex"]
del titanic_train["Sex"]

In [40]:
trainmeanS= titanic_train[titanic_train.Survived==1].Age.mean()
#testmeanS = titanic_test[titanic_test.Survived==1].Age.mean()

In [41]:
def fun(s):
    if s=="S":
        return 0
    elif s=="C":
        return 1
    else:
        return 2
titanic_train["Embarked_new"]=titanic_train.Embarked.apply(fun)
titanic_test["Embarked_new"]=titanic_test.Embarked.apply(fun)

del titanic_test["Embarked"]
del titanic_train["Embarked"]

In [42]:
titanic_train["age"]=np.where(pd.isnull(titanic_train.Age) & titanic_train["Survived"]==1  ,trainmeanS, titanic_train["Age"])
del titanic_train["Age"]


titanic_test.Age.fillna(titanic_test.Age.mean(), inplace = True)

In [43]:
titanic_train.dropna(inplace=True)
titanic_test.dropna(inplace=True)

In [ ]:
#  another way of filing age nan

# titanic_data.loc[titanic_data.Survived==1] = titanic_data.fillna(mean_age_of_survived)
# titanic_data.loc[titanic_data.Survived==0] = titanic_data.fillna(mean_age_of_non_survived)

In [44]:
titanic_test["age"]=titanic_test["Age"]
del titanic_test["Age"]

In [45]:
# titanic_train["Sibsb_sex"]=titanic_train["SibSp"]*titanic_train["new_sex"]
# titanic_test["Sibsb_sex"]=titanic_test["SibSp"]*titanic_test["new_sex"]

# titanic_train["PClass_Parch"]=titanic_train["Pclass"]*titanic_train["Parch"]
# titanic_test["PClass_Parch"]=titanic_test["Pclass"]*titanic_test["Parch"]

In [46]:
# def fun(s):
#     return s

# titanic_train["output"]= titanic_train.Survived.apply(fun)

# del titanic_train["Survived"]

df_survive=titanic_train["Survived"]
del titanic_train["Survived"]

In [47]:
a = len(titanic_train.columns)
for i in range(a):
    for j in range (i,a):
        col1= titanic_train.columns[i]
        col2=titanic_train.columns[j]
        titanic_train[col1+col2]=titanic_train[col1]*titanic_train[col2]
        
b = len(titanic_test.columns)
for i in range(b):
    for j in range (i,b):
        col1= titanic_test.columns[i]
        col2=titanic_test.columns[j]
        titanic_test[col1+col2]=titanic_test[col1]*titanic_test[col2]

In [48]:
print(titanic_train.head(3))
print(titanic_test.head(3))

   Pclass  SibSp  Parch  new_sex  Embarked_new   age  PclassPclass  \
0       2      1      0        0             0  29.0             4
2       2      0      0        1             0  39.0             4
3       3      0      4        0             0  29.0             9

   PclassSibSp  PclassParch  Pclassnew_sex   ...    ParchParch  Parchnew_sex  \
0            2            0              0   ...             0             0
2            0            0              2   ...             0             0
3            0           12              0   ...            16             0

   ParchEmbarked_new  Parchage  new_sexnew_sex  new_sexEmbarked_new  \
0                  0       0.0               0                    0
2                  0       0.0               1                    0
3                  0     116.0               0                    0

   new_sexage  Embarked_newEmbarked_new  Embarked_newage  ageage
0         0.0                         0              0.0   841.0
2        39.0                         0              0.0  1521.0
3         0.0                         0              0.0   841.0

[3 rows x 27 columns]
   Pclass  SibSp  Parch  new_sex  Embarked_new        age  PclassPclass  \
0       2      1      1        1             0   8.000000             4
1       1      0      0        0             0  49.000000             1
2       3      0      0        1             2  29.694775             9

   PclassSibSp  PclassParch  Pclassnew_sex     ...       ParchParch  \
0            2            2              2     ...                1
1            0            0              0     ...                0
2            0            0              3     ...                0

   Parchnew_sex  ParchEmbarked_new  Parchage  new_sexnew_sex  \
0             1                  0       8.0               1
1             0                  0       0.0               0
2             0                  0       0.0               1

   new_sexEmbarked_new  new_sexage  Embarked_newEmbarked_new  Embarked_newage  \
0                    0    8.000000                         0         0.000000
1                    0    0.000000                         0         0.000000
2                    2   29.694775                         4        59.389551

        ageage
0    64.000000
1  2401.000000
2   881.779679

[3 rows x 27 columns]

In [49]:
x=titanic_train.values
y=df_survive.values
test=titanic_test.values

In [50]:
# x=train[:,0:8]
# y=train[:,8]

In [51]:
from sklearn import preprocessing
scaler =preprocessing.StandardScaler()

In [52]:
scaler.fit(x)
x_train=scaler.transform(x)

x_test=scaler.transform(test)

In [53]:
from sklearn.linear_model import LogisticRegression

In [54]:
clf=LogisticRegression(C=1, multi_class='ovr', solver='lbfgs')

In [55]:
clf.fit(x_train,y)

LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='lbfgs', tol=0.0001,
          verbose=0, warm_start=False)

In [56]:
clf.predict(x_train)-y
# clf.score(clf.predict(x_train),y)

clf.score(x_train,y)

0.7989601386481803

In [57]:
predictFile=clf.predict(x_test)

In [58]:
np.savetxt("predictions1.csv",predictFile,delimiter=",", fmt='%1d')